pipeline/99_ManageInvoice.json
{
	"name": "99_ManageInvoice",
	"properties": {
		"activities": [
			{
				"name": "lkTask",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT SwitchCase\n  FROM [cfg].[vToDoActivitiesSynapse]\n  where TaskId = ', pipeline().parameters.TaskId)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "fat_d_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SwitchTipologiaFattura",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "lkTask",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('lkTask').output.firstRow.SwitchCase",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "ANTICIPO",
							"activities": [
								{
									"name": "Execute Pipeline Fattura Anticipo",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set MeseRiferimentoAnticipo",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "FatturaAnticipo",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AnnoAnticipo": {
												"value": "@variables('AnnoAnticipo')",
												"type": "Expression"
											},
											"MeseAnticipo": {
												"value": "@variables('MeseAnticipo')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set AnnoRiferimentoAnticipo",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "AnnoAnticipo",
										"value": {
											"value": "@if(equals(int(substring(utcnow(),5,2)) ,12), add(int(substring(utcnow(),0,4)) , 1), int(substring(utcnow(),0,4)))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set MeseRiferimentoAnticipo",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set AnnoRiferimentoAnticipo",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "MeseAnticipo",
										"value": {
											"value": "@if(equals(int(substring(utcnow(),5,2)),12), 1 , add(int(substring(utcnow(),5,2)),1)\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "ACCONTO",
							"activities": [
								{
									"name": "Execute Pipeline Fattura Acconto",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set MeseRiferimentoAcconto",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "FatturaAcconto",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AnnoAcconto": {
												"value": "@variables('AnnoAcconto')",
												"type": "Expression"
											},
											"MeseAcconto": {
												"value": "@variables('MeseAcconto')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set AnnoRiferimentoAcconto",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "AnnoAcconto",
										"value": {
											"value": "@int(substring(addToTime(utcNow(), -1, 'Month'), 0, 4))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set MeseRiferimentoAcconto",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set AnnoRiferimentoAcconto",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "MeseAcconto",
										"value": {
											"value": "@int(substring(addToTime(utcNow(), -1, 'Month'), 5, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "PRIMO SALDO",
							"activities": [
								{
									"name": "Execute Pipeline Fattura Primo Saldo",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set MeseRiferimentoPrimoSaldo",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "FatturaPrimoSaldo",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AnnoRiferimento": {
												"value": "@variables('AnnoPrimoSaldo')",
												"type": "Expression"
											},
											"MeseRiferimento": {
												"value": "@variables('MesePrimoSaldo')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set AnnoRiferimentoPrimoSaldo",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "AnnoPrimoSaldo",
										"value": {
											"value": "@int(substring(addToTime(utcNow(), -2, 'Month'), 0, 4))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set MeseRiferimentoPrimoSaldo",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set AnnoRiferimentoPrimoSaldo",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "MesePrimoSaldo",
										"value": {
											"value": "@int(substring(addToTime(utcNow(), -2, 'Month'), 5, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "SECONDO SALDO",
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "varDummy",
										"value": "dummyvalue"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"TaskId": {
				"type": "string"
			}
		},
		"variables": {
			"varDummy": {
				"type": "String"
			},
			"AnnoAnticipo": {
				"type": "Integer"
			},
			"MeseAnticipo": {
				"type": "Integer"
			},
			"AnnoAcconto": {
				"type": "Integer"
			},
			"MeseAcconto": {
				"type": "Integer"
			},
			"AnnoPrimoSaldo": {
				"type": "Integer"
			},
			"MesePrimoSaldo": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "ManageInvoice"
		},
		"annotations": []
	}
}