pipeline/SendToSAP.json
{
	"name": "SendToSAP",
	"properties": {
		"activities": [
			{
				"name": "FromSqlToPfstage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spCreazioneFattureAnticipo_TEST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [dbo].[GenerateJsonSAP_TEST_GONCALO] ()",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"sink": {
									"path": "$['IdFattura']"
								}
							},
							{
								"sink": {
									"path": "$['datiGeneraliDocumento']"
								}
							},
							{
								"sink": {
									"path": "$['DataFattura']"
								}
							},
							{
								"sink": {
									"path": "$['FkProdotto']"
								}
							},
							{
								"sink": {
									"path": "$['IdentificativoFattura']"
								}
							},
							{
								"sink": {
									"path": "$['FkTipologiaFattura']"
								}
							},
							{
								"sink": {
									"path": "$['FkIdEnte']"
								}
							},
							{
								"sink": {
									"path": "$['CodiceContratto']"
								}
							},
							{
								"sink": {
									"path": "$['FkIdTipoDocumento']"
								}
							},
							{
								"sink": {
									"path": "$['Divisa']"
								}
							},
							{
								"sink": {
									"path": "$['MetodoPagamento']"
								}
							},
							{
								"sink": {
									"path": "$['CausaleFattura']"
								}
							},
							{
								"sink": {
									"path": "$['SplitPayment']"
								}
							},
							{
								"sink": {
									"path": "$['datiGeneraliDocumento'][0]['Progressivo']"
								}
							},
							{
								"sink": {
									"path": "$['datiGeneraliDocumento'][0]['IdDocumento']"
								}
							},
							{
								"sink": {
									"path": "$['datiGeneraliDocumento'][0]['DataDocumento']"
								}
							},
							{
								"sink": {
									"path": "$['datiGeneraliDocumento'][0]['NumItem']"
								}
							},
							{
								"sink": {
									"path": "$['datiGeneraliDocumento'][0]['CodCommessa']"
								}
							},
							{
								"sink": {
									"path": "$['datiGeneraliDocumento'][0]['Cup']"
								}
							},
							{
								"sink": {
									"path": "$['datiGeneraliDocumento'][0]['Cig']"
								}
							},
							{
								"sink": {
									"path": "$['posizioni'][0]['NumeroLinea']"
								}
							},
							{
								"sink": {
									"path": "$['posizioni'][0]['Testo']"
								}
							},
							{
								"sink": {
									"path": "$['posizioni'][0]['CodiceMateriale']"
								}
							},
							{
								"sink": {
									"path": "$['posizioni'][0]['Quantita']"
								}
							},
							{
								"sink": {
									"path": "$['posizioni'][0]['PrezzoUnitario']"
								}
							},
							{
								"sink": {
									"path": "$['datiGeneraliDocumento'][0]"
								}
							},
							{
								"sink": {
									"path": "$['posizioni'][0]['Imponibile']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "fat_d_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "JsonToSapStorage",
						"type": "DatasetReference",
						"parameters": {
							"NomeFile": {
								"value": "@CONCAT('fattura_anticipo_',variables('AnnoRiferimento'),variables('MeseRiferimento'),'.json')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "spCreazioneFattureAnticipo_TEST",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set MeseRiferimento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[pfd].[spCreazioneFattureAnticipo_TEST]",
					"storedProcedureParameters": {
						"AnnoRiferimento": {
							"value": {
								"value": "@variables('AnnoRiferimento')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"MeseRiferimento": {
							"value": {
								"value": "@variables('MeseRiferimento')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "fat_sql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set AnnoRiferimento",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "AnnoRiferimento",
					"value": {
						"value": "@int(substring(utcnow(),0,4))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set MeseRiferimento",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set AnnoRiferimento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MeseRiferimento",
					"value": {
						"value": "@int(substring(utcnow(),5,2))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"AnnoRiferimento": {
				"type": "Integer"
			},
			"MeseRiferimento": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "SendToSAP"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-28T15:07:22Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}