pipeline/SendToSAP_Inline.json
{
	"name": "SendToSAP_Inline",
	"properties": {
		"activities": [
			{
				"name": "spCreazioneFattureAnticipo",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set MeseRiferimento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[pfd].[spCreazioneFattureAnticipo]",
					"storedProcedureParameters": {
						"AnnoRiferimento": {
							"value": {
								"value": "@variables('AnnoRiferimento')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"MeseRiferimento": {
							"value": {
								"value": "@variables('MeseRiferimento')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "fat_sql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set AnnoRiferimento",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "AnnoRiferimento",
					"value": {
						"value": "@if(equals(int(substring(utcnow(),5,2)) ,12), add(int(substring(utcnow(),0,4)) , 1), int(substring(utcnow(),0,4)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set MeseRiferimento",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set AnnoRiferimento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MeseRiferimento",
					"value": {
						"value": "@if(equals(int(substring(utcnow(),5,2)),12), 1 , add(int(substring(utcnow(),5,2)),1)\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Generate Json",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "spCreazioneFattureAnticipo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "JsonToSAP_Inline",
						"type": "DataFlowReference",
						"parameters": {
							"AnnoRiferimento": "2024",
							"MeseRiferimento": "1",
							"TipologiaFattura": "'ANTICIPO'",
							"NomeFile": "'TestExportFatture.json'"
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "spAggionaFattureStatus",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Generate Json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[pfd].[spAggiornaStatusFattureAnticipo]",
					"storedProcedureParameters": {
						"AnnoRiferimento": {
							"value": {
								"value": "@variables('AnnoRiferimento')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"MeseRiferimento": {
							"value": {
								"value": "@variables('MeseRiferimento')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TipologiaFattura": {
							"value": "ANTICIPO",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "fat_sql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"AnnoRiferimento": {
				"type": "Integer"
			},
			"MeseRiferimento": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "SendToSAP"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-18T11:36:16Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}