pipeline/SendToSAP.json
{
	"name": "SendToSAP",
	"properties": {
		"activities": [
			{
				"name": "FromSqlToPfstage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "spCreazioneFattureAnticipo_TEST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n\t[IdFattura],\n\t[DataFattura],\n\t[FkProdotto],\n\t[IdentificativoFattura],\n\t[FkTipologiaFattura],\n\t[FkIdEnte],\n\t[CodiceContratto],\n\t[FkIdTipoDocumento],\n\t[Divisa],\n\t[MetodoPagamento],\n\t[CausaleFattura],\n\t[SplitPayment],\n\t[Sollecito],\n\tNULL AS 'datiGeneraliDocumento.tipologia?',\n\t[Progressivo] AS 'datiGeneraliDocumento.Progressivo',\n\t[IdDocumento] as 'datiGeneraliDocumento.IdDocumento',\n\t[DataDocumento] as 'datiGeneraliDocumento.DataDocumento',\n\t[NumItem] as 'datiGeneraliDocumento.NumItem',\n\t[CodCommessa] as 'datiGeneraliDocumento.CodCommessa',\n\t[Cup] as 'datiGeneraliDocumento.Cup',\n\t[Cig] as 'datiGeneraliDocumento.Cig',\n\t[NumeroLinea] as 'posizioni.NumeroLinea',\n\t[Testo] as 'posizioni.Testo',\n\t[CodiceMateriale] as 'posizioni.CodiceMateriale',\n\t[Quantita] as 'posizioni.Quantita',\n\t[PrezzoUnitario] as 'posizioni.PrezzoUnitario',\n\t[Imponibile] as 'posizioni.Imponibile'\nFROM\n\t[pfd].[FattureTestata] T\n\tleft outer join [pfd].FattureRighe R on R.FkIdFattura = T.IdFattura ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "IdFattura",
									"type": "Int64"
								},
								"sink": {
									"path": "$['IdFattura']"
								}
							},
							{
								"source": {
									"name": "DataFattura",
									"type": "DateTime"
								},
								"sink": {
									"path": "$['DataFattura']"
								}
							},
							{
								"source": {
									"name": "FkProdotto",
									"type": "String"
								},
								"sink": {
									"path": "$['FkProdotto']"
								}
							},
							{
								"source": {
									"name": "IdentificativoFattura",
									"type": "String"
								},
								"sink": {
									"path": "$['IdentificativoFattura']"
								}
							},
							{
								"source": {
									"name": "FkTipologiaFattura",
									"type": "String"
								},
								"sink": {
									"path": "$['FkTipologiaFattura']"
								}
							},
							{
								"source": {
									"name": "FkIdEnte",
									"type": "String"
								},
								"sink": {
									"path": "$['FkIdEnte']"
								}
							},
							{
								"source": {
									"name": "CodiceContratto",
									"type": "String"
								},
								"sink": {
									"path": "$['CodiceContratto']"
								}
							},
							{
								"source": {
									"name": "FkIdTipoDocumento",
									"type": "String"
								},
								"sink": {
									"path": "$['FkIdTipoDocumento']"
								}
							},
							{
								"source": {
									"name": "Divisa",
									"type": "String"
								},
								"sink": {
									"path": "$['Divisa']"
								}
							},
							{
								"source": {
									"name": "MetodoPagamento",
									"type": "String"
								},
								"sink": {
									"path": "$['MetodoPagamento']"
								}
							},
							{
								"source": {
									"name": "CausaleFattura",
									"type": "String"
								},
								"sink": {
									"path": "$['CausaleFattura']"
								}
							},
							{
								"source": {
									"name": "SplitPayment",
									"type": "Boolean"
								},
								"sink": {
									"path": "$['SplitPayment']"
								}
							},
							{
								"source": {
									"name": "posizioni.NumeroLinea",
									"type": "Int32"
								},
								"sink": {
									"path": "$['posizioni']['NumeroLinea']"
								}
							},
							{
								"source": {
									"name": "posizioni.Testo",
									"type": "String"
								},
								"sink": {
									"path": "$['posizioni']['Testo']"
								}
							},
							{
								"source": {
									"name": "posizioni.CodiceMateriale",
									"type": "String"
								},
								"sink": {
									"path": "$['posizioni']['CodiceMateriale']"
								}
							},
							{
								"source": {
									"name": "posizioni.Quantita",
									"type": "Int32"
								},
								"sink": {
									"path": "$['posizioni']['Quantita']"
								}
							},
							{
								"source": {
									"name": "posizioni.PrezzoUnitario",
									"type": "Double"
								},
								"sink": {
									"path": "$['posizioni']['PrezzoUnitario']"
								}
							},
							{
								"source": {
									"name": "posizioni.Imponibile",
									"type": "Double"
								},
								"sink": {
									"path": "$['posizioni']['Imponibile']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "fat_d_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "JsonToSapStorage",
						"type": "DatasetReference",
						"parameters": {
							"NomeFile": {
								"value": "@CONCAT('fattura_anticipo_',variables('AnnoRiferimento'),variables('MeseRiferimento'),'.json')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "spCreazioneFattureAnticipo_TEST",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set MeseRiferimento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[pfd].[spCreazioneFattureAnticipo_TEST]",
					"storedProcedureParameters": {
						"AnnoRiferimento": {
							"value": {
								"value": "@variables('AnnoRiferimento')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"MeseRiferimento": {
							"value": {
								"value": "@variables('MeseRiferimento')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "fat_sql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set AnnoRiferimento",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "AnnoRiferimento",
					"value": {
						"value": "@int(substring(utcnow(),0,4))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set MeseRiferimento",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set AnnoRiferimento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MeseRiferimento",
					"value": {
						"value": "@int(substring(utcnow(),5,2))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"AnnoRiferimento": {
				"type": "Integer"
			},
			"MeseRiferimento": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "SendToSAP"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-28T15:07:22Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}