pipeline/SendToSAP.json
{
	"name": "SendToSAP",
	"properties": {
		"activities": [
			{
				"name": "spCreazioneFattureAnticipo_TEST",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set MeseRiferimento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[pfd].[spCreazioneFattureAnticipo_TEST]",
					"storedProcedureParameters": {
						"AnnoRiferimento": {
							"value": {
								"value": "@variables('AnnoRiferimento')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"MeseRiferimento": {
							"value": {
								"value": "@variables('MeseRiferimento')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "fat_sql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set AnnoRiferimento",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "AnnoRiferimento",
					"value": {
						"value": "@int(substring(utcnow(),0,4))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set MeseRiferimento",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set AnnoRiferimento",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MeseRiferimento",
					"value": {
						"value": "@int(substring(utcnow(),5,2))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "spCreazioneFattureAnticipo_TEST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE\t@return_value int,\n\t\t@JsonResult nvarchar(max)\n\nEXEC\t@return_value = [pfd].[GenerateJsonSAP]\n\t\t@JsonResult = @JsonResult OUTPUT\n\nSELECT\t@JsonResult as N'@JsonResult'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "@JsonResult[0]"
								},
								"sink": {
									"path": "$['listaFatture']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "fat_d_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "JsonToSAP",
						"type": "DatasetReference",
						"parameters": {
							"NomeFileJson": "TestGruao.json"
						}
					}
				]
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Dataflow1",
						"type": "DataFlowReference",
						"datasetParameters": {
							"sink1": {
								"NomeFile": "test.json"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			}
		],
		"variables": {
			"AnnoRiferimento": {
				"type": "Integer"
			},
			"MeseRiferimento": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "SendToSAP"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-28T15:07:22Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}