pipeline/TestStageStarter.json
{
	"name": "TestStageStarter",
	"properties": {
		"activities": [
			{
				"name": "Read Source Path",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set StorageURL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [FolderInput], SwitchCase, PathSink\n\nFROM [cfg].[RawParquet]\n\nwhere Pipeline = 'TransferStageToRaw' and FlagEnabled = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "fat_d_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read Source Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read Source Path').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "TransferStageToRaw",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "TestTransferStageToRaw",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FolderInput": {
										"value": "@item().FolderInput",
										"type": "Expression"
									},
									"SwitchCase": {
										"value": "@item().SwitchCase",
										"type": "Expression"
									},
									"PathSink": {
										"value": "@item().PathSink",
										"type": "Expression"
									},
									"StorageURL": {
										"value": "@variables('StorageURL')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LookupStorageURL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT ValueVariable\nFROM [cfg].[RawParquet]\nwhere Pipeline = ''TestStageStart'' and DimensionVariable = ''StorageURL'' and Environment = ''', pipeline().DataFactory,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "fat_d_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set StorageURL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupStorageURL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StorageURL",
					"value": {
						"value": "@activity('LookupStorageURL').output.firstRow.ValueVariable",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"SourcePath": {
				"type": "String"
			},
			"StorageURL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "NewIngestion"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-28T15:07:36Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}